 /*  上面語法都是html:5 */
        body { /*  wrapper背景底色 */
            background-color: var(--mycolor01);
            padding-top: 15px;/*  背景與banner之間的間距 */
        }

        .wrapper { /*  最上方menu大小以及置中 */
            width: 1024px;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }

        nav{ /*  乎叫menu nav背景顏色 */
            background-color: var(--mycolor02);
            text-align: center;/*  文字置中 */
        }

        nav ul{
            display: inline-block;/*menu擁有 block 元素可以設置寬度和高度*/
        }

        nav ul li{ /*  設定menu外框 */
            list-style-type: none; /*  樣式:無 */
            float: left;
        }

        nav ul li a{ /* 這個樣式選擇器用來選擇導覽條中的連結（<a> 標籤）*/
            display: block; /* 將連結設為區塊元素，使其佔據整個寬度*/
            padding-top: 15px; /* 屬性：增加連結的內邊距，為了增加點擊區域*/
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            /*  註解 */
            /* background-color: aqua;*/
            margin-right: 5px; /* 在連結之間增加右邊距，分隔連結*/
            text-decoration: none; /* 移除連結的下劃線*/
            color: var(--mycolor03); /* 設置文字顏色為淺色*/
            font-weight: 100; /* 設置文字粗體無法顯示?????*/
        }

        nav ul li a:hover{  /* 滑鼠移過去變色*/
            background-color:var(--mycolor04);       
        }
        .content_in{
            padding-top: 15px;/* 上內邊距為 15*/
            padding-bottom: 15px;/* 下內邊距為 15*/
            padding-left: 30px;/* 左內邊距為 30*/
            padding-right: 30px;/* 右內邊距為 30*/
            background-color: var(--mycolor05);
            margin-top: 20px; /*menu與content中的間距*/
        }
        .content_in h1{ /*歡迎光臨顏色 居中*/
            color: var(--mycolor06);
            text-align: center;
        }
        .content_in p{ /*content內文*/
            font-size: 20px;
            margin-bottom: 30px;
        }
        .content_in a{ /*呼叫下面<a href="#">了解更多</a> */
            display: block;
            width: 130px;
            height: 40px;
            background-color: var(--mycolor07);
            margin-top: 0;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            color: var(--mycolor08);
            text-align: center;
            line-height: 40px;/* 垂直置中*/  
            font-weight:bolder;  /* 粗體文字*/        
        }
        .content_in a:hover{
            color: var(--mycolor09);
            background-color: var(--mycolor10);
        }       
        .footer{
            background-color: var(--mycolor11);
            text-align: center;
        }
        .footer p{
            font-size: 20px;
            font-weight: bolder;
            padding-top: 10px;/*pt10*/
            padding-bottom: 10px;/*pb10*/
        }
        @media screen and (max-width: 1024px){
            .wrapper{
                width: 100%;
            }/*wrapper 整個內容大小，()為條件最大為1024，小於1024畫面會自動調整*/
        }
    